<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
    <style>
          #image{
        margin-top: 0px;
        padding-left: 200px;
        padding-top: 80px;
        height: 10px;
        width: 5px;
        position: fixed;   
        }
    </style>
</head>
<body style="background-color: rgb(217, 153, 105)">
<fieldset style="background-color: cadetblue;" width="60%" >
    <table>
        <div id="image">
        <img src="./image/password reset.png" height="120px" ></div>
        <center>
    <h1>Password reset</h1>
    
        <form  method ="post" action="login">
        <label>  Email:</label><br> 
        <input type="text" placeholder="enter email" name="email" required>
        <br><br>
        <label>New password:</label><br>
        <input type="password" placeholder="enter password" name="new password" required><br><br>

        <label>Confirm password:</label><br>
        <input type="password"  placeholder="enter password" name="confirm password" required>
    <br><br>
        <button>sumbit</button value="submit">
            <button>Reset

            </button>
        </form>
    </center>
    </table>
   
</fieldset>
</body>
</html>